*.aux
*.lof
*.log
*.lot
Notes.pdf
Tutorial Sheet*.pdf
*.tiw
*.toc
*.tps
*.tcp
*.bbl
*.blg
*.fdb*
*.fls
*.tex~
*.gz
*.zip
*.rar
*synctex*
*.*~
*.out
*.idx
*.ilg
*.ind
*.tmp
Exercises/output*
*main/*.pdf
Thumbs.db
Script/chapters/*.pdf
*.md5
*.auxlock
Script/exercises/midterm.pdf
chapters/*.pdf
